In [1]:
import pandas as pd

In [3]:
import os
os.getcwd()

'D:\\egitim\\verilen\\bogazici-compec-python-ml\\02_pandas'

In [4]:
df = pd.read_csv("D://egitim//verilen//bogazici-compec-python-ml//Datasets/simple_data.csv")

In [5]:
df.head()

   sirano     isim  yas       meslek     sehir  aylik_gelir
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30     Müzisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800

In [8]:
df.shape

(15, 6)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
SIRANO               15 non-null int64
ISIM                 15 non-null object
YAS                  15 non-null int64
MESLEK               15 non-null object
SEHIR                15 non-null object
AYLIK_GELIR          15 non-null int64
AYLIK_GELIR_DOLAR    15 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 920.0+ bytes

# Okuma esnasında kullanılan ilave parametreler

## 1. Okurken sütun seçmek

In [12]:
df_melek_gelir = pd.read_csv("D://egitim//verilen//bogazici-compec-python-ml//Datasets/simple_data.csv",
                sep=",",
                header=0,
                usecols=["meslek","aylik_gelir"])

In [14]:
df_melek_gelir.head()

        meslek  aylik_gelir
0         Isci         3500
1        Memur         4200
2     Müzisyen         9000
3  Pazarlamaci         4200
4  Pazarlamaci         4800

## 2. Sütun İsimlerini Değiştirmek

In [15]:
new_col_names = ['SIRANO','ISIM','YAS','MESLEK','SEHIR','AYLIK_GELIR']
df.columns = new_col_names
df.head()

   SIRANO     ISIM  YAS       MESLEK     SEHIR  AYLIK_GELIR
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30     Müzisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800

## 3. Sütunları Seçmek

In [20]:
df['ISIM'].head()

0      Cemal
1      Ceyda
2      Timur
3      Burcu
4    Yasemin
Name: ISIM, dtype: object

### 3.1. Birden fazla sütunu seçmek (liste içinde seçmeyi unutmayın!!!)

In [22]:
df[['ISIM','MESLEK']].head()

      ISIM       MESLEK
0    Cemal         Isci
1    Ceyda        Memur
2    Timur     Müzisyen
3    Burcu  Pazarlamaci
4  Yasemin  Pazarlamaci

## 4. Yeni Sütun Eklemek

In [23]:
df['AYLIK_GELIR_DOLAR'] = df.AYLIK_GELIR / 5.5

In [24]:
df.head()

   SIRANO     ISIM  YAS       MESLEK     SEHIR  AYLIK_GELIR  AYLIK_GELIR_DOLAR
0       1    Cemal   35         Isci    Ankara         3500         636.363636
1       2    Ceyda   42        Memur   Kayseri         4200         763.636364
2       3    Timur   30     Müzisyen  Istanbul         9000        1636.363636
3       4    Burcu   29  Pazarlamaci    Ankara         4200         763.636364
4       5  Yasemin   23  Pazarlamaci     Bursa         4800         872.727273

## 5. Sütunları Birleştirmek

In [28]:
df['MESLEK_SEHİR'] = df['MESLEK'] + ' - ' + df['SEHIR']

In [29]:
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa

## 6. Her satır için benzersiz bir id oluşturmak

In [30]:
# Kaç satır var?
df.count()

SIRANO               15
ISIM                 15
YAS                  15
MESLEK               15
SEHIR                15
AYLIK_GELIR          15
AYLIK_GELIR_DOLAR    15
MESLEK_SEHİR         15
dtype: int64

In [31]:
df['ID'] = range(0,15)
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR,ID
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara,0
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri,1
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul,2
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara,3
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa,4

## 7. Sütunları Yeniden Adlandırmak

In [32]:
sutun_degisimi = {'ID':'ROWID'}
df.rename(columns=sutun_degisimi, inplace=True)

In [33]:
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR,ROWID
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara,0
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri,1
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul,2
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara,3
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa,4

## 8. Sütunların Sırasını Değiştirmek

In [37]:
# Yeni sıraya göre dataframe'i takrar kendine atayalım

In [35]:
df = df[['ROWID','SIRANO','ISIM','YAS','MESLEK','SEHIR','AYLIK_GELIR','AYLIK_GELIR_DOLAR','MESLEK_SEHİR']]

In [36]:
df.head()

,ROWID,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR
0,0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara
1,1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri
2,2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul
3,3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara
4,4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa