In [2]:
import pandas as pd
df = pd.read_csv("D://egitim//verilen//bogazici-compec-python-ml//Datasets/simple_data.csv")

In [3]:
df.head()

   sirano     isim  yas       meslek     sehir  aylik_gelir
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30     Müzisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800

# drop() ile sütun silmek

In [4]:
df.drop('sirano', axis=1, inplace=True)
df.head()

      isim  yas       meslek     sehir  aylik_gelir
0    Cemal   35         Isci    Ankara         3500
1    Ceyda   42        Memur   Kayseri         4200
2    Timur   30     Müzisyen  Istanbul         9000
3    Burcu   29  Pazarlamaci    Ankara         4200
4  Yasemin   23  Pazarlamaci     Bursa         4800

In [ ]:
# Yukarıda kulandığımız axis=1 silmenin sütun bazlı olacağını inplece=True ise silmenin gerçekten bu dataframe üzerinde yaıl
# ması gerektiğini gösterir