In [2]:
import pandas as pd

    # VeriKaynağı: https://archive.ics.uci.edu/ml/datasets/online+retail
    # Orijinal veri dosyası üzerinde küçük temizlikler yapılmıştır.
    # Bu yüzden Github repoda bulunan OnlineRetail.csv kaynakta bulunan ile küçük farklılıklar gösterebilir. Orijinal veri seti OnlineRetailDirty.xlsx dir.
    
    
    NİTELİKLER VE AÇIKLAMALARI
    # InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. 
    # StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product. 
    # Description: Product (item) name. Nominal. 
    # Quantity: The quantities of each product (item) per transaction. Numeric.	
    # InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated. 
    # UnitPrice: Unit price. Numeric, Product price per unit in sterling. 
    # CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer. 
    # Country: Country name. Nominal, the name of the country where each customer resides.

In [84]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetailDirty.xlsx"

In [85]:
df = pd.read_excel(data_path + data_set)

In [54]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# Dataframe satır sayısı

In [55]:
df.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [73]:
# count ile farklı değerlerin çıkması null değer bulunduğunu gösteriyor.
# Description ve CustomerID'de null var.

# Dataframe içinde null kontrolü

In [74]:
df.isnull().values.any()

True

# Null değerleri düşürme

In [86]:
df = df.dropna()

In [87]:
df.count()

InvoiceNo      406829
StockCode      406829
Description    406829
Quantity       406829
InvoiceDate    406829
UnitPrice      406829
CustomerID     406829
Country        406829
dtype: int64

In [88]:
# Bütün satır sayıları eşit oldu. En düşüksatır sayısına eşitlendi.

# Sütunları Adıyla Seçmek

In [89]:
df[["InvoiceNo", "StockCode"]].head()

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

# Sütunları Indeks Numaraları ile Seçmek

In [90]:
# iloc() metodu ile satır ve sütunları indeks bazlı seçebiliriz

In [91]:
df.iloc[:,0:2].head()

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

# Indeks numarasıyla seçip yeni bir dataframe oluşturma

In [67]:
iloc_df = df.iloc[:, 0:2]

In [68]:
type(iloc_df)

pandas.core.frame.DataFrame

In [69]:
iloc_df.shape

(541909, 2)

# Pandas Dataframe'den numpy ndarray elde etmek

In [70]:
iloc_df = df.iloc[:, 0:2].values

In [71]:
type(iloc_df)

numpy.ndarray

In [72]:
iloc_df.shape

(541909, 2)