In [4]:
import pandas as pd

In [5]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetailDirty.xlsx"

In [6]:
df = pd.read_excel(data_path + data_set)

In [4]:
# Yavaş okudu değil mi? 
# Eğer daha hızlı okumak istiyorsanız excel dosyanızı csv formatına çevirmenizi öneririm.

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# upper() Country Büyük Harf

In [8]:
df.Country.str.upper().head()

0    UNITED KINGDOM
1    UNITED KINGDOM
2    UNITED KINGDOM
3    UNITED KINGDOM
4    UNITED KINGDOM
Name: Country, dtype: object

# contains() İçerenler

In [9]:
df.Description.str.contains("COFFEE").head()

0    False
1    False
2    False
3    False
4    False
Name: Description, dtype: object

In [10]:
df[df.Description.str.contains("COFFEE")].head()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-10-5866680ba86d>", line 1, in <module>
    df[df.Description.str.contains("COFFEE")].head()
  File "D:\Anaconda\lib\site-packages\pandas\core\frame.py", line 2682, in __getitem__
    return self._getitem_array(key)
  File "D:\Anaconda\lib\site-packages\pandas\core\frame.py", line 2709, in _getitem_array
    if com.is_bool_indexer(key):
  File "D:\Anaconda\lib\site-packages\pandas\core\common.py", line 107, in is_bool_indexer
    raise ValueError('cannot index with vector containing '
ValueError: cannot index with vector containing NA / NaN values

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ValueError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "D:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "D:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "D:\Anaconda\lib\inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "D:\Anaconda\lib\inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "D:\Anaconda\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "D:\Anaconda\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "D:\Anaconda\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "D:\Anaconda\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "D:\Anaconda\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "D:\Anaconda\lib\site-packages\pytest.py", line 8, in <module>
    from _pytest.config import cmdline
  File "D:\Anaconda\lib\site-packages\_pytest\config\__init__.py", line 17, in <module>
    from pkg_resources import parse_version
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 3126, in <module>
    @_call_aside
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 3110, in _call_aside
    f(*args, **kwargs)
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 3139, in _initialize_master_working_set
    working_set = WorkingSet._build_master()
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 572, in _build_master
    ws = cls()
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 565, in __init__
    self.add_entry(entry)
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 621, in add_entry
    for dist in find_distributions(entry, True):
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 1968, in find_on_path
    for dist in factory(fullpath):
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 2038, in distributions_from_metadata
    root, entry, metadata, precedence=DEVELOP_DIST,
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 2495, in from_location
    py_version=py_version, platform=platform, **kw
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 2870, in _reload_version
    md_version = _version_from_file(self._get_metadata(self.PKG_INFO))
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 2459, in _version_from_file
    line = next(iter(version_lines), '')
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 2649, in _get_metadata
    for line in self.get_metadata_lines(name):
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 1414, in get_metadata_lines
    return yield_lines(self.get_metadata(name))
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 1410, in get_metadata
    value = self._get(self._fn(self.egg_info, name))
  File "D:\Anaconda\lib\site-packages\pkg_resources\__init__.py", line 1522, in _get
    with open(path, 'rb') as stream:
KeyboardInterrupt

ValueError: cannot index with vector containing NA / NaN values

# Hatanın Çözümü

In [11]:
df[df.Description.str.contains("COFFEE", na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,RETRO COFFEE MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

# İptal edilen Satışlar

In [13]:
df[df.InvoiceNo.str.contains("C", na=False)].head()
# df[df.InvoiceNo.str.startswith("C", na=False)].head() ikinci yöntem

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

# replace() Yer Değiştirme

## Bir sütun içinde geçen örüntüyü değiştirme

In [10]:
df['Description'] = df['Description'].replace({'RETRO':'STARBUCKS'}, regex=True)

In [11]:
df[df.Description.str.contains('STARBUCKS', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
33,536370,21035,SET/2 RED STARBUCKSSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
53,536373,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
90,536378,84997B,RED 3 PIECE STARBUCKSSPOT CUTLERY SET,12,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED STARBUCKSSPOT,10,2010-12-01 09:37:00,1.65,14688.0,United Kingdom

In [14]:
df['Description'] = df['Description'].replace({'BAG':'ÇANTA'}, regex=True)
df[df.Description.str.contains('ÇANTA', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
38,536370,22661,CHARLOTTE ÇANTA DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France
86,536378,22386,JUMBO ÇANTA PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
87,536378,85099C,JUMBO ÇANTA BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
88,536378,21033,JUMBO ÇANTA CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
89,536378,20723,STRAWBERRY CHARLOTTE ÇANTA,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom

# Bir sütun içinde geçen birden fazla örüntüyü değiştirme

In [12]:
df['Description'] = df['Description'].replace({'CUTLERY':'Culterly','COFFEE':'Kahve'}, regex=True)

In [13]:
df[df['Description'].str.contains('Kahve', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,STARBUCKS Kahve MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

## Bir sütun değerinin tamamını değiştirme

In [14]:
df['Country'] = df['Country'].replace('United Kingdom', 'Turkey Republic')

In [15]:
df[df.Country.str.contains('Turkey', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic

# Boşlukları trim etme

In [19]:
df['InvoiceDate'] = df['InvoiceDate'].astype(str).str.strip()

# Sütunu truncate etmek

In [23]:
# saat ve saniyeden kurtulmak
df['InvoiceDate'] = df['InvoiceDate'].apply(lambda x: x[:-6]) # ss:dd 5+boşluk=6
df['InvoiceDate'] = df['InvoiceDate'].str.strip()

In [24]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010-12,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12,3.39,17850.0,Turkey Republic