In [1]:
import pandas as pd

In [2]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetailDirty.xlsx"

In [25]:
df = pd.read_excel(data_path + data_set)

In [4]:
# Yavaş okudu değil mi? 
# Eğer daha hızlı okumak istiyorsanız excel dosyanızı csv formatına çevirmenizi öneririm.

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# upper() Country Büyük Harf

In [6]:
df.Country.str.upper().head()

0    UNITED KINGDOM
1    UNITED KINGDOM
2    UNITED KINGDOM
3    UNITED KINGDOM
4    UNITED KINGDOM
Name: Country, dtype: object

# contains() İçerenler

In [7]:
df.Description.str.contains("COFFEE").head()

0    False
1    False
2    False
3    False
4    False
Name: Description, dtype: object

In [8]:
df[df.Description.str.contains("COFFEE")].head()

ValueError: cannot index with vector containing NA / NaN values

# Hatanın Çözümü

In [9]:
df[df.Description.str.contains("COFFEE", na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,RETRO COFFEE MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

# replace() Yer Değiştirme

## Bir sütun içinde geçen örüntüyü değiştirme

In [10]:
df['Description'] = df['Description'].replace({'RETRO':'STARBUCKS'}, regex=True)

In [11]:
df[df.Description.str.contains('STARBUCKS', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
33,536370,21035,SET/2 RED STARBUCKSSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
53,536373,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
90,536378,84997B,RED 3 PIECE STARBUCKSSPOT CUTLERY SET,12,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED STARBUCKSSPOT,10,2010-12-01 09:37:00,1.65,14688.0,United Kingdom

# Bir sütun içinde geçen birden fazla örüntüyü değiştirme

In [12]:
df['Description'] = df['Description'].replace({'CUTLERY':'Culterly','COFFEE':'Kahve'}, regex=True)

In [13]:
df[df['Description'].str.contains('Kahve', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,STARBUCKS Kahve MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

## Bir sütun değerinin tamamını değiştirme

In [14]:
df['Country'] = df['Country'].replace('United Kingdom', 'Turkey Republic')

In [15]:
df[df.Country.str.contains('Turkey', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic

# Boşlukları trim etme

In [19]:
df['InvoiceDate'] = df['InvoiceDate'].astype(str).str.strip()

# Sütunu truncate etmek

In [23]:
# saat ve saniyeden kurtulmak
df['InvoiceDate'] = df['InvoiceDate'].apply(lambda x: x[:-6]) # ss:dd 5+boşluk=6
df['InvoiceDate'] = df['InvoiceDate'].str.strip()

In [24]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010-12,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12,3.39,17850.0,Turkey Republic