In [1]:
import pandas as pd

In [93]:
# kaynak: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [5]:
order_items_df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\retail_db\\order_items.csv")

In [6]:
products_df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\retail_db\\products.csv")

In [31]:
orders_df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\retail_db\\orders.csv")

# Union two dataframe with concatenate

In [7]:
products_df.shape

(1345, 6)

In [10]:
union_products_df = pd.concat([products_df, products_df])

In [11]:
union_products_df.shape

(2690, 6)

# Inner Join two dataframes

In [79]:
inner_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", right_on = "productId", how = "inner")

In [80]:
inner_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1,1,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15,7,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34,12,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [81]:
inner_join_df.shape

(172198, 12)

In [82]:
order_items_df.shape

(172198, 6)

In [83]:
products_df.shape

(1345, 6)

In [ ]:
# Tüm ürünler sipariş tablosunda var.

# Outer join two dataframes

In [84]:
outer_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", right_on = "productId", how = "outer")

In [85]:
outer_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1.0,1.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15.0,7.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34.0,12.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [87]:
outer_join_df.shape

(173443, 12)

In [88]:
order_items_df.shape

(172198, 6)

In [89]:
products_df.shape

(1345, 6)

In [90]:
# Ürün tablosunda olan bazı ürünlerden sipariş verilmemiş

In [91]:
len(products_df.productId.unique())

1345

In [92]:
len(order_items_df.orderItemProductId.unique())

100